@charset "UTF-8";

@font-face {
    font-family: futura;
    src: url(fontes/futura/Futura\ Bold\ font.ttf) format(truetype);
}

@font-face {
    font-family: futuraitalic;
    src: url(fontes/futura/Futura\ Book\ Italic\ font.ttf) format(truetype);
}

@font-face {
    font-family: honella;
    src: url(fontes/Honella.otf), format(opentype);

}

@font-face {
    font-family: frenstyle;
    src: url(fontes/Frenstyle.otf), format(opentype);
}

@font-face {
    font-family: predikat;
    src: url(fontes/Predikat\ Oneday.ttf), format(opentype);
}

* {
    font-size: x-large;
    margin: 0px;
    padding: 0px;
}

.titulos {

}

.subtitulos {

}

body {
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.555), rgba(0, 0, 0, 0.76));
}

nav {
    margin: auto;
    margin-top: -9;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(65, 64, 64, 0.274);
}

nav > a {
    padding: 30px;
    text-decoration: none;
    font-family: 'futura', Helvetica, sans-serif;
}

nav > h2 {
    text-align: center;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.main1 {
    margin: auto;
    margin-top: 70px;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 7px 7px 0px 0px;
    text-align: justify;
    font-weight: bolder;
    text-indent: 0.5em;
    background-color: aliceblue;
    
}

.main1 > h2 {
    font-family: 'Honella', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: 30px;
    font-weight: normal;
}

.main1 > p {
    font-family: 'futuraitalic', Helvetica, sans-serif;
    text-align: center;
}

.main2 {
    margin: auto;
    margin-top: 7px;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-indent: 0.5em;
    background-color: aliceblue;
}

.main2 > p {
    font-family: 'futuraitalic', Helvetica, sans-serif;
}

article {
    margin: auto;
    margin-top: 7px;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-indent: 0.5em;
    background-color: rgba(97, 97, 97, 0.199);
}

.main3 {
    margin: auto;
    margin-top: 7px;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-indent: 0.5em;
    background-color: aliceblue;
}

.main3 > p {
    font-family: 'futuraitalic', Helvetica, sans-serif;
}

.main3 > p > a {
    text-decoration: none;
    text-align: center;
}

.main3 > p > a:hover {
    text-decoration: underline;
}

.main4 {
    margin: auto;
    margin-top: 7px;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 0px 0px 7px 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-indent: 0.5em;
    background-color: aliceblue;
}

.main4 > p {
    font-family: 'futuraitalic', Helvetica, sans-serif;
}

