@charset "utf-8";

* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: rgba(0, 110, 255, 0.315);
}

header > div.menu {
    background-color: black;
    text-align: center;
    padding: 7px;
    box-shadow: 7px 4px 10px 0px rgba(0, 0, 0, 0.507);
}

section {
    margin-top: 200px;
    height: 100vh;
    min-width: auto;
    background-color: rgba(0, 110, 255, 0.315);
}

section > h1 {
    text-indent: 2em;
}

section > h2 {

}

section > p {

}